<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>IND-GNNMNS1-PC\TcdAdmin\ABBDemo</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>IND-GNNMNS1-PC\TcdAdmin</MSDeployServiceURL>
    <DeployIisAppPath>ABBDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>212745342</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InventoryPDBConnectionString1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;User ID=Tcduser;Password=Tcd123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InventoryPDBConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;User ID=Tcduser;Password=Tcd123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InventoryPDBConnectionString2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;User ID=Tcduser;Password=Tcd123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InventoryPDBConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;User ID=Tcduser; Password=Tcd123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InventoryPDBConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;Persist Security Info=True;User ID=Tcduser;Password=Tcd123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InventoryPDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.111.166.29\SQLExpress;Initial Catalog=InventoryPDB;Persist Security Info=True;User ID=Tcduser;Password=Tcd123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventoryPDBConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventoryPDBConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventoryPDBConnectionString2-Web.config Connection String" />
  </ItemGroup>
</Project>